*.csv

# large files
*.fastq.gz
*.fq.gz
*.fastq
*.fq

# temporarily remove SKA until result has been minified
ska

# intermediate files from the pipeline or files used for local automation
*.html
*.zip
*_mask.fasta*
*.cdmpy
analysis_result
